* {
    font-family: comic sans ms;
    background-color: #002700;
    color: black;
    overflow: hidden;
}

#a , #b, #c {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(0, 255, 0);
    text-align: center;
    height: 75px;
    font-size: xx-large;
    border-radius: 100px;
    border: 10px solid #000000;
    width: auto;
    margin-bottom: 0px;
}

#title a {
    background-color: #00ff00;
}

#gub , a {
    background-color: transparent;
}

#title {
    text-align: center;
    align-items: center;
}

#c {
    font-size: xxx-large;
    margin: 5%;
}

#c img {
    margin-right: 25px;
}

.dealer .cards img,
.player .cards img {
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    height: 150px;
    width: 100px;
}

.game__box-points-dealer , .game__box-points-player , .game__buttons , .game__buttons-button , .game__stats h3 , h3 a , .bugs h2 , .bugs li {
    color: white;
    
}

.game__header h1 , .game__box-points-dealer span , .game__box-points-player span , .game__buttons-input , .game__stats b , #game-money , .game__stats #game-streak, .game__box-points-player #player-result,   ul { 
    color: #00ff00;
}

.bugs ul, .bugs h2 , .game__box-points-player{
    margin-top: 0%;
    margin-bottom: 0%;
}

