* {
    font-family: comic sans ms;
    background-color: #002700;
    color: black;
    overflow: hidden;
}

#title,
img {
    margin: 5%;
    background-color: rgb(0, 255, 0);
    text-align: center;
    height: 75px;
    font-size: xxx-large;
    border-radius: 100px;
    border: 10px solid #000000;
    width: auto;
    margin-bottom: 0px;
}

img {
    margin: 0%;
    font-size: 0%;
    border: 0px;
    background-color: transparent;
}

#content a,
li {
    background-color: #00ff00;
    list-style: none;

}

#a , #b, #c {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(0, 255, 0);
    text-align: center;
    height: 75px;
    font-size: xx-large;
    border-radius: 100px;
    border: 10px solid #000000;
    width: auto;
    margin-bottom: 0px;
}

#title a {
    background-color: #00ff00;
}

#gub , a {
    background-color: transparent;
}

#title {
    text-align: center;
    align-items: center;
}

#c {
    font-size: xxx-large;
    margin: 5%;
}

#c img {
    margin-right: 25px;
}