* {
    background-color: #002700;
    font-family: comic sans ms;
}

#mtitle {
    margin: 5%;
    background-color: rgb(0, 255, 0);
    text-align: center;
    height: 75px;
    font-size: xxx-large;
    border-radius: 100px;
    border: 10px solid #000000;
    width: auto;
    margin-bottom: 0px;
}

img {
    margin: 0%;
    font-size: 0%;
    border: 0px;
    background-color: transparent;
}

#mtitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#mlink1 , #mlink2 , #mlink3 , #mlink4  {
    margin: auto;
    background-color: rgb(0, 255, 0);
    font-size: x-large;
    border-radius: 100px;
    border: 10px solid #000000;
}
#mlink1 a, #mlink2 a, #mlink3 a, #mlink4 a {
    background-color: rgb(0, 255, 0);
    margin: 5%;
    text-align: center;
    width: auto;
    text-decoration: underline;
    color: #000000;
}
#mlink1 , #mlink2 , #mlink3 , #mlink4 {
    margin: 10px;
    text-align: center;
    height: auto;
    width: 200px;
    font-size: x-large;
    border-radius: 100px;
    border: 10px solid #000000;
    background-color: rgb(0, 255, 0);
    list-style: none;
    padding: 10px;
    text-decoration: none;
}

#gub , a {
    background-color: transparent;
}

#gub {
    text-align: center;
    height: 75px;
    border-radius: 100px;
    margin: 0%;
}

.snuffy #likes, #hobbies, #dislikes {
    margin: 10px;
    background-color: rgb(0, 255, 0);
    text-align: center;
    height: 30px;
    font-size: x-large;
    border-radius: 100px;
    border: 10px solid #000000;
    width: 100px;
    margin-bottom: 0px;
}

.snuffy #answer {
    margin: 2%;
    background-color: rgb(0, 255, 0);
    text-align: center;
    height: auto;
    font-size: medium;
    border-radius: 30px;
    border: 10px solid #000000;
    width: auto;
    overflow: hidden;
}
