* {
    background-color: rgb(50, 0, 50);
    color: black ;
    font-family: Comic Sans MS;
}

#title {
    font-size: xxx-large;
    border: 10px solid rgb(0,0,0);
    margin: 5%;
    border-radius: 100px;
    text-align: center;
    background-color: rgb(255, 0, 255);
}

img {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    height: fit-content;
    margin: 5%;
    background-color: rgb(0, 255, 0);
    text-align: center;
    height: 100px;
    font-size: xx-large;
    border-radius: 100px;
    border: 10px solid #000000;
    width: auto;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 500px;
    unicode-bidi: isolate;
    flex-wrap: wrap;
    background-color: rgb(0, 255, 0);
}

/* this is good news mark  */
/* we can finally be bees */