body {
    margin: 5%;
    background-color:rgb(50, 0, 50);
    text-align: center;
    color: rgb(255, 0, 255);
    height: 75px;
    font-size: xxx-large;
}


* {
    font-family: cursive;

}

#instructions {
    border: #000000 10px solid;
    margin: 5%;
    background-color: rgb(255, 0, 255);
    text-align: center;
    color: black;
    height: 75px;
    font-size: xxx-large;
    width: fit-content;
    margin-bottom: 0px;
    margin: auto;
    border-radius: 30px;
    align-content: center;
    box-shadow: 0 9px #000000;
}

#instructions2 {
    border: #000000 10px solid;
    margin: 5%;
    background-color: rgb(255, 0, 255);
    text-align: center;
    color: black;
    height: 75px;
    font-size: xxx-large;
    width: fit-content;
    margin-bottom: 0px;
    margin: auto;
    border-radius: 30px;
    align-content: center;
    box-shadow: 0 9px #000000;
}

#goopCount {
    border: #000000 10px solid;
    margin: 5%;
    background-color: rgb(255, 0, 255);
    text-align: center;
    color: black;
    height: 75px;
    font-size: xxx-large;
    width: fit-content;
    margin-bottom: 0px;
    margin: auto;
    border-radius: 30px;
    align-content: center;
    margin-bottom: 5%;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 9px #000000;
}


#goopCount {
    height: 100px;
}

body .button {
padding: 0%;
padding-bottom: 0%;
overflow: hidden;
}

/* this is good news mark, we can finally be bees */